################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TradingBot/.vs/TradingBot
*.sqlite
/Trading/x64/Debug
/Trading/vcpkg_installed/x64-windows
/Trading/.vs/Trading
/Trading/Trading/x64/Debug
/.vs/slnx.sqlite-journal
/Trading/.vs
/Trading/build
/Trading/vcpkg_installed/vcpkg
/.vs
